* {
  font-family: "Quicksand", sans-serif;
}

body {
  min-width: 400px;
}

header {
  padding: 15px 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  font-size: 50px;
  color: rgb(245, 243, 160);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  display: inline;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  padding: 10px;
  margin-left: 10px;

}
nav ul li:hover {
    background-color: rgb(245, 239, 160);
    border-radius: 8px;
}

