#hero {
  height: 800px;
  background-image: url("/images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
}
#hero-content {
  background-color: rgb(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto 0 auto;
  position: relative;
  top: 200px;
  min-width: 380px;
  max-width: 800px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}
#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}

.button {
  background-color: rgb(255, 251, 0);
  border-radius: 8px;
  padding: 12px 24px;
  color: black;
  font-weight: 700;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
.button:hover {
  background-color: rgb(255, 230, 0);
}
