#hero {
  height: 800px;
  background-image: url("/images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
  padding: 0 10px;
}
#hero-content {
  background-color: rgb(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto 0 auto;
  position: relative;
  top: 200px;
  min-width: 380px;
  max-width: 800px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

.button {
  background-color: rgb(255, 251, 0);
  color: black;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 700;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
.button:hover {
  background-color: rgb(255, 230, 0);
}

#highlights {
  margin: 0;
  padding: 24px;
  height: 100%;
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}
#highlights h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(59, 65, 64);
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0;
}

.destinations {
  list-style: none;
  padding: 0;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
}

.destination {
  margin: 5px;
}

.destination img {
  width: 400px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
.destination p {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}
.destination a {
  color: rgb(0, 160, 117);
}
.destination a:hover {
  color: rgb(5, 187, 126);
}

